<a href="https://colab.research.google.com/github/themanoftalent/pyt-colab/blob/master/Asterisks_roll_dice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from random import randint

def rolling(*dice):
    return sum(randint(1, die) for die in dice)

In [34]:
rolling(25,50,75,100)

141

In [37]:
rolling(3)

2

In [39]:
rolling(6, 6, 6,6)

10

In [40]:
# Combining Different Iterables

In [41]:
nums = [1, 2, 3]
nums2 = (4, 5, 6)
nums3 = {7, 8, 9}

#onvert the combined elements into any iterable we want

_list = [*nums, *nums2, *nums3]
_tuple = (*nums, *nums2, *nums3)
_set = {*nums, *nums2, *nums3}

print(type(_list))
print(_list)
print("------------------------")
print(type(_tuple))
print(_tuple)
print("------------------------")
print(type(_set))
print(_set)

<class 'list'>
[1, 2, 3, 4, 5, 6, 8, 9, 7]
------------------------
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 8, 9, 7)
------------------------
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}