<a href="https://colab.research.google.com/github/themanoftalent/pyt-colab/blob/master/sqlalchemy_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np

In [42]:
from sqlalchemy import create_engine

In [43]:
# data
veri = np.random.randn(100)

In [44]:
#create engine
kon = create_engine('sqlite:///:memory:')

In [47]:
datafr = pd.DataFrame(veri)

In [49]:
datafr.to_sql(name='masam',con=kon)

In [50]:
data_oku = pd.read_sql('masam',con=kon)

In [51]:
data_oku

    index         0
0       0 -1.147642
1       1 -0.729200
2       2  0.208343
3       3  1.782871
4       4  0.348880
..    ...       ...
95     95 -1.335190
96     96  0.406554
97     97  0.466235
98     98  0.482850
99     99  1.367552

[100 rows x 2 columns]