<a href="https://colab.research.google.com/github/themanoftalent/pyt-colab/blob/master/sqlalchemy%20baglan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
import numpy as np

In [53]:
from sqlalchemy import create_engine

In [54]:
#veri hazirla
#dataframe hazirla
#engine baglan
#table yarat
#masa baglan

In [58]:
#veri hazirla
veriler = np.random.randint(low=0,high=100,size=(20,5))

In [59]:
#dataframe hazirla 
df = pd.DataFrame(veriler,columns=['a','b','c','d','e'])

In [61]:
#engine baglan
baglan = create_engine('sqlite:///:memory:')

In [62]:
#table yarat
verim =df.to_sql(name='masa_veri',con=baglan)

In [68]:
#masa baglan
verver = pd.read_sql_query('Select * from masa_veri',con=baglan)

In [66]:
verver

    index   a   b   c   d   e
0       0   5  32  33  35  95
1       1   1  12  77  99  34
2       2  13  91  32  54  22
3       3  77  54  59  73  81
4       4  38  65  94  84  29
5       5  58  56  72  73  88
6       6  64  27  43  73  97
7       7  81  94  96  72  99
8       8  66  57  25   2  28
9       9  87  17   7  90  21
10     10  35  36  52  34  38
11     11  24  34  82  60  42
12     12  85  11  65  24  84
13     13  73  74  82  76  10
14     14  73  85  53  71  41
15     15  79  86  54  13  89
16     16   2  74  28   8  97
17     17  16  94  16  62  54
18     18  24  72  67  69  28
19     19  48  16  64  98  86