# Titanic Dataset

While the purpose of this exercise right now is for a non python based blog, eventually this will be a tutorial in itself I imagine.

## Load the Dataset

In [1]:
import pandas as pd
from sklearn import tree 
import numpy as np

url = "https://raw.githubusercontent.com/mGalarnyk/Python_Tutorials/master/Kaggle/Titanic/train.csv"
# load dataset into Pandas DataFrame
df = pd.read_csv(url)

In [2]:
# Change sex to binary
df['Sex'] = df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

In [3]:
# Take subset of the dataset

df = df[['Sex', 'Age', 'Fare', 'Survived']]

In [4]:
df.Sex.value_counts(dropna = False)

1    577
0    314
Name: Sex, dtype: int64

In [5]:
df.Fare.value_counts(dropna = False)

8.0500      43
13.0000     42
7.8958      38
7.7500      34
26.0000     31
10.5000     24
7.9250      18
7.7750      16
26.5500     15
0.0000      15
7.2292      15
7.8542      13
8.6625      13
7.2500      13
7.2250      12
16.1000      9
9.5000       9
24.1500      8
15.5000      8
56.4958      7
52.0000      7
14.5000      7
14.4542      7
69.5500      7
7.0500       7
31.2750      7
46.9000      6
30.0000      6
7.7958       6
39.6875      6
            ..
7.1417       1
42.4000      1
211.5000     1
12.2750      1
61.1750      1
8.4333       1
51.4792      1
7.8875       1
8.6833       1
7.5208       1
34.6542      1
28.7125      1
25.5875      1
7.7292       1
12.2875      1
8.6542       1
8.7125       1
61.3792      1
6.9500       1
9.8417       1
8.3000       1
13.7917      1
9.4750       1
13.4167      1
26.3875      1
8.4583       1
9.8375       1
8.3625       1
14.1083      1
17.4000      1
Name: Fare, Length: 248, dtype: int64

In [6]:
df.Fare.value_counts(dropna = False)

8.0500      43
13.0000     42
7.8958      38
7.7500      34
26.0000     31
10.5000     24
7.9250      18
7.7750      16
26.5500     15
0.0000      15
7.2292      15
7.8542      13
8.6625      13
7.2500      13
7.2250      12
16.1000      9
9.5000       9
24.1500      8
15.5000      8
56.4958      7
52.0000      7
14.5000      7
14.4542      7
69.5500      7
7.0500       7
31.2750      7
46.9000      6
30.0000      6
7.7958       6
39.6875      6
            ..
7.1417       1
42.4000      1
211.5000     1
12.2750      1
61.1750      1
8.4333       1
51.4792      1
7.8875       1
8.6833       1
7.5208       1
34.6542      1
28.7125      1
25.5875      1
7.7292       1
12.2875      1
8.6542       1
8.7125       1
61.3792      1
6.9500       1
9.8417       1
8.3000       1
13.7917      1
9.4750       1
13.4167      1
26.3875      1
8.4583       1
9.8375       1
8.3625       1
14.1083      1
17.4000      1
Name: Fare, Length: 248, dtype: int64

In [7]:
# Impute age with mean 
df.loc[df.Age.isna(), 'Age'] = np.ceil(df.Age.mean())

In [30]:
clf = tree.DecisionTreeClassifier(max_depth=2) 
clf = clf.fit(df[['Sex', 'Age']], df[['Survived']]) 
tree.export_graphviz(clf,
                     out_file="decisionTreeTitantic.dot",
                     feature_names=['Sex', 'Age'],
                     class_names=['Dead', 'Alive'],
                     proportion = True,
                     rotate = True, 
                     filled = True)

In [31]:
!dot -Tpng decisionTreeTitantic.dot -o decisionTreeTitantic.png

In [20]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='|S10')

In [21]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])